.main-picture {
  width: 600px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.peatekst {
  text-align: center;
  margin-top: 40px;
  font-size: 26px;
  font-weight: 600;
  color: rgb(13, 77, 11);
}

.main-links {
  display: flex;
  justify-content: space-evenly;
}

.main-links div {
  border-radius: 10px;
  cursor: pointer;
  padding: 15px;
}

.main-links div:hover {
  box-shadow: 0 8px 30px 4px black;
  transform: scale(1.1);
  transition: .5s;
}

.main-links div img {
  width: 150px;
  height: 100px;
}

.rectangle {
  height: 10px;
  width: 100px;
  background-color: brown;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}