.main-picture {
  width: 600px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.main-text {
  text-align: center;
  margin-top: 40px;
  font-size: 26px;
  font-weight: 600;
  color: rgb(13, 77, 11);
}