#goods-content {
  padding: 25px 16px;
}

.filter-bar {
  -ms-flex-align: center;
  align-items: center;
  background-color: #f2f2f2;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  height: 40px;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}

.filters {
  display: flex;
  padding-top: 25px;
}

.filter-name {
  align-items: center;
  height: 40px;
  padding: 0 10px;
}

.filter-values {
  display: flex;
}

.filter-value {
  padding: 0 10px;
}

/* .item-list {
  margin: 0 16px;
} */

.item {
  background-color: #fff;
  outline: 1px solid rgba(0,0,0,.05);
  height: 300px;
  width: 220px;
  display: inline-table;
  vertical-align: top;
  padding: 20px;
}

.item img {
  /* vertical-align: middle;
  text-align: center;
  max-width: 220px; */
  padding: 0 42px;
}

.cart-button {
  border: none;
  background-color: #299bdb;
  padding: 3px 12px;
  border-radius: 40px;
  color: white;
  cursor: pointer;
  height: 25px;
}

.blank {
  height: 25px;
}

.item-top {
  display: table-row;
}

.item-top img {
  width: 130px;
  height: 130px;
}

.text-title, .text-price {
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .08px;
  margin: 0;
  line-height: 1.4em;
  word-break: normal;
  word-break: break-word;
  hyphens: auto;
  color: #545454;
}

.text-price {
  font-size: 12px;
}