
<div *ngIf="!productsShown || isSorting" style="text-align: center;">
  <app-spinner></app-spinner>
</div>

<div id="goods-content">

  <!-- Filtri riba -->
  <div class="filter-bar">
    <div class="filters">
      <div [class.blue]="dropdownOpen" class="filter-name" (click)="onOpenDropdown()"> 
        <img src="assets/filter-icon.svg"> 
          Filtreeri 
        <img src="assets/filter-arrow-down.svg">
      </div>
      <div class="filter-name">Järjesta: </div>
      <div class="filter-values">
        <div 
          class="filter-value" 
          (click)="onSortTitle()">
            <img 
              *ngIf="titleNumber > 0"
              [class.reverse]="titleNumber == 2"
              src="assets/order-by-arrow-down.svg"> 
              Tähestiku järgi
        </div>
        <div class="filter-value" (click)="onSortPopularity()">Populaarsuse järgi</div>
        <div class="filter-value" (click)="onSortPrice()">Hinna järgi</div>
        <div class="filter-value" (click)="onSortDiscount()">Sooduspakkumised</div>
      </div>
    </div>
    <div class="filter-value" *ngIf="productsShown">{{ productsShown.length }} toodet</div>
  </div>
  <!-- Filtri vajutades väljatulev kast -->
  <div *ngIf="dropdownOpen" class="filter-box">
      <div 
        class="dropdown-value" 
        *ngFor="let product of productsCategories; let i = index" 
        (click)="onChangeCategory(i)">
        <input [checked]="product.isSelected" type="checkbox"><div>{{ product.category }}</div>
      </div>
  </div>
  <!-- Kõik esemed -->
  <div class="item-list">
    <div 
        class="item" 
        *ngFor="let item of productsShown; let i = index"
        (mouseenter)="onMouseEnter(item)" 
        (mouseleave)="onMouseLeave(item)" >
      <button *ngIf="item.showButton"
              class="cart-button" 
              (click)="onAddToCart(item)"
      >+ LISA</button>
      <div 
        *ngIf="!item.showButton" 
        class="blank"></div>
      <div [routerLink]="['/view',i]">
        <div class="item-top">
          <img src="{{ item.imgSrc }}">
        </div>
        <div class="text-title">{{ item.title | titlecase }}</div>
        <div class="text-price"> {{ item.price |  currency:'EUR' }} </div>
      </div>
      <img 
        *ngIf="item.isFavourite" 
        (click)="onFavourite(item)" 
        style="width: 30px; height: 30px;" 
        src="assets/heart_filled.svg">
      <img 
        *ngIf="!item.isFavourite" 
        (click)="onFavourite(item)" 
        style="width: 30px; height: 30px;" 
        src="assets/heart.svg">
    </div>
  </div>  

</div>